body{
    font-family: 'Gideon Roman', cursive;
}

.heading{
    width: 100%;
    line-height: 10;
}

.heading h3{
    display: inline;
    font-size: 50px;
    letter-spacing: 2px;
}

.manuel{
    float: right;
    border: 1px solid white;
}

.start{
    margin-top: 50px;
    font-size: 25px;
    width: 10%;
}